In [1]:
import pandas as pd

## Creating Dataframes from scratch

### 1. Construct a DataFrame from a dictionary of lists.

In [2]:
data = {'ProdcutName':['Product A', 'Product B', 'Product c'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

  ProdcutName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product c         12500

### Specify index

In [3]:
data = {'ProdcutName':['Product A', 'Product B', 'Product c'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df

  ProdcutName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product c         12500

In [4]:
data = {'ProdcutName':['Product A', 'Product B', 'Product c'], 'ProductPrice':[22250, 16600, 12500]}
product_IDs = ['A','B','C']
df = pd.DataFrame(data, index = product_IDs)
df

  ProdcutName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product c         12500

### DataFrames from a list of dictionaries

In [5]:
data = [{'ProductName':'Product A', 'ProductPrice':22250},
        {'ProductName':'Product B', 'ProductPrice':16600},
        {'ProductName':'Product C', 'ProductPrice':12500},]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

### Dataframe from a series

In [7]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])

In [8]:
data = {'ProductName':ser_products, 'Productprice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  Productprice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [12]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A','B','C'])
ser_prices = pd.Series([22250, 16600, 12500],  index = ['A','B','C'])
data = {'ProductName':ser_products, 'Productprice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  Productprice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [13]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A','B','C'])
ser_prices = pd.Series([22250, 16600, 12500],  index = ['C','B','A'])
data = {'ProductName':ser_products, 'Productprice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  Productprice
A   Product A         12500
B   Product B         16600
C   Product C         22250

### Dataframes from a list of lists

In [14]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [15]:
df.columns = ['ProductName', 'ProductPrice']
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [16]:
df.index = ['A', 'B', 'C']
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

### DataFrame in a Professional Way

In [17]:
df = pd.DataFrame (data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]],
                    columns = ['ProductName', 'ProductPrice'],
                    index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [18]:
df.shape

(3, 2)